/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #72e5f9;
}

/* Header styles */
header {
    background-color: #72e5f9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.logo img {
    max-width: 300px;
    height: auto;
}

.name h1 {
    font-size: 24px;
    margin-top: 5px;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form and Button styles */
form {
    margin-bottom: 20px;
}

input[type="date"],
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

/* Logout link styles */
a {
    display: block;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 4px;
}

a:hover {
    background-color: #555;
}
